.primary {
  padding: 8px 22px;
  color: var(--black);
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--primary);
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  cursor: pointer;
}
.outline {
  padding: 8px 18px;
  border-radius: 50px;
  border: 1px solid #727272;
  color: var(--white);
  font-weight: 700;
  background-color: transparent;

  &:hover {
    background-color: var(--black);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--white);
  }
}
