.wrapper {
  width: 100%;
}
.title {
  line-height: 4.8rem;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card {
  width: 20%;
  min-height: 274px;
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  background-color: #181818;

  &:hover {
    background-color: #282828;
    cursor: pointer;
  }
}
.head {
  width: 100%;

  img {
    width: 100%;

    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 6px;
  }
}
.body {
  text-decoration: none !important;

  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #b3b3b3;
    max-width: 120px;
    -webkit-box-orient: vertical;

    display: -webkit-box;
    overflow: hidden;
  }
}
.text {
  max-width: 100%;
  color: var(--white);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 3rem;
}
