.wrapper {
  width: 100%;
  padding: 0 20px;

  .inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
.controls {
  svg {
    color: var(--white);
  }
}
.head {
  width: 44.44444%;

  display: flex;
  align-items: center;

  .items {
    margin-left: 14px;
  }
  h1 {
    line-height: 2.6rem;
    font-size: 1.6rem;
  }
  span {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #b3b3b3;
  }
}
.thumb {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
.album {
  width: 38%;
}
.time {
  width: 15%;
}
