.wrapper {
  width: 100%;
  padding: 0 20px;
  padding-bottom: 120px;

  .inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #5a5a5a;
      .icon {
        opacity: 1;
      }
    }
  }
}
.play {
  color: var(--primary) !important;

  .id p {
    display: none;
  }
  .equalizer {
    display: block !important;
  }
}
.id {
  width: 36px;
  height: 50px;
  display: flex;
  align-items: center;

  .equalizer {
    width: 14px;
    height: 14px;
    display: none;
  }
}
.head {
  width: 44.44444%;
  display: flex;
  align-items: center;

  .items {
    margin-left: 14px;
  }
  h1 {
    max-width: 280px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    line-height: 2.6rem;
    font-size: 1.6rem;
  }
  span {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #b3b3b3;
  }
}
.thumb {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
.album {
  width: 38%;
  display: flex;
  align-items: center;

  span {
    max-width: 280px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
  }
}
.time {
  width: 15%;
  display: flex;
  align-items: center;
}
.vip {
  opacity: 60%;
  pointer-events: none;
}
.tag {
  position: relative;
  background-color: var(--primary);
  padding: 4px 10px;
  margin-left: 22px;
  color: var(--white) !important;
  border-radius: 4px;
}
